@model _3NetEventManagerS.Models.Contribution

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Contribution</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Quantity</div>
    <div class="display-field">@Model.Quantity</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ContributionId }) |
</p>